@import "../utils/variables";
@import "../core/structure";

.Crud {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  // border: 1px solid $secondaryColor;
  &__header {
    background-color: $backgroundColor;
    padding: 15px;
    padding-top: 0;
    // display: flex;
    // flex-direction: clumn;
    // justify-content: center;
    // align-items: center;
    &--title {
      width: 100%;
      padding: 15px;
      font-size: $titleFontSize;
    }
  }
  &__main {
    &--search {
      padding: 10px;
      background-color: $mainColor;
      // border-radius: 5px;
      .Input__label {
        color: white;
      }
      .Button {
        background-color: darkgrey;
      }
    }
    &--results {
      padding: 10px;
      margin: 5px 0;
      width: 100%;
      .results {
        // width: 100%;
        display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
        margin: 5px 0;
        &__actions {
          display: flex;
        }
        td {
          width: 30%;
        }
      }
    }
  }
}
