@import "../utils/variables";
@import "../utils/mixins";
@import "../core/structure";

.Crud {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  @include forPc {
    max-width: 1200px;
  }
  &__header {
    background-color: $backgroundColor;
    padding: 15px;
    padding-top: 0;
    @include forTablet {
    display: flex;
    flex-direction: clumn;
    justify-content: center;
    align-items: center;
    }

    &--title {
      width: 100%;
      padding: 15px;
      font-size: $titleFontSize;
    }
  }
  &__main {
    &--search {
      padding: 10px;
      background-color: $mainColor;
      // border-radius: 5px;
      .Input__label {
        color: white;
      }
      .Button {
        background-color: darkgrey;
      }
    }
    &--results {
      padding: 10px;
      margin: 5px 0;
      width: 100%;
    }
  }
}
