@import '../utils/variables';

.formTab {
  width: 100%;
  padding: 15px;
  background-color: $backgroundColor2;
  border-top: 4px solid $secondaryColor;
  box-shadow: 0px 1px $secondaryColor;
}
.activeTab {
  background-color: $backgroundColor;
  border-top: 4px solid $mainColor;
  border-right: 1px solid $secondaryColor;
  border-left: 1px solid $secondaryColor;
  border-bottom: 1px solid $backgroundColor;
  box-shadow: none;
}