@import "../utils/variables";

.formTab {
  width: 100%;
  padding: 15px;
  &__standard {
    background-color: $backgroundColor2;
    box-shadow: 0px 1px $secondaryColor;
  }
}
.activeTab {
  border-top: 4px solid $mainColor;
  border-right: 1px solid $secondaryColor;
  border-left: 1px solid $secondaryColor;
}