@import "../utils/variables";

.Input {
  width: 100%;
  text-align: left;
  &__label {
    color: black;
  }
  &__input {
    margin: 10px 0;
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid $secondaryColor;
    border-radius: 5px;
    &:focus {
      border: none;
      outline-color: $mainColor;
    }
  }
}

