@import "../utils/variables.scss";

.Login {
  width: 330px;
  background-color: $backgroundColor;
  &__form {
    padding: 10px;
    border: 1px solid $secondaryColor;
    border-top: none;
  }
}