// DEVICES
$Tablet: 768px;
$pc: 1200px;

//COLORS
$mainColor: #3eb1c8;
$secondaryColor: #CCCCCC;
$backgroundColor: #FBFBFB;
$backgroundColor2: #EBECED;

//FONTS
$bodyFont: 'Exo 2', sans-serif;
$bodyFontSize: 13px;
$bodyFontColor: #3a3939;
$subtitleFontSize: 15px;
$titleFontSize: 18px;